#main-about-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  color: white;
  background-color: var(--main-back-color);
  scroll-snap-align: center;
}

.div-header-text {
  margin: 5% 4%;
}
