#preload-main {
  display: flex;
  height: 100dvh;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 30;
  overflow: hidden;
  backdrop-filter: blur(8px);
  animation: blurrer 870ms var(--pre-delay) steps(1000) forwards;
}

#preload-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: black;
  animation: pre-up-shift 1s var(--pre-delay) forwards;
}

#preload-image {
  width: 500px;
  height: 500px;
}

@keyframes pre-up-shift {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-101%);
  }
}

@keyframes blurrer {
  0% {
    backdrop-filter: blur(8px);
  }

  100% {
    backdrop-filter: blur(0);
    display: none;
  }
}
